<div class="col-md-8 order-md-1">
<form method="post" action="/articulos/alta">
<div class="col-md-6 mb-3">
<input for="descripcion"> Descripcion del articulo:</label>
<input type="descripcion" name="descripcion" class="form-control" 
placeholder="Descripción" size="50">

</div>
</div>
<div class="col-md-6 mb-3">
<label for="precio">Precio del articulo:</label>
<input type="text" name="precio" class="form-control" 
placeholder="Ingrese valor" size="10">

<button type="submit" class="form-control">
<img src="../images/mas.png"></button>
</div>
</div>
</form>
</div>