<form method="post" action="/articulos/consulta">
  <div class="form-group">
  <label for="codigo">Articulo a consultar:</label>
  <input type="text" class="form-control" name="codigo" placeholder="Ingrese código" size="5">
  <button type="submit" class="form-control"><img src="../images/lupa.png"></button>
  </div>
  </form>

